@use '@carbon/colors';
@use '@carbon/type';

Row {
    display: flex;
}


.registration_form {
    flex: 0.25;
    margin-top: 32px;
    max-width: 448px;

    h1 {
        @include type.type-style('fluid-heading-04', true);
    }

    form {
        margin-top: 24px;
        max-width: 448px;

        .inputs {
            margin: 24px 0;

            &>*:not(:last-child) {
                margin-bottom: 16px;
            }

        }


        .register_button {
            margin-top: 16px;
            width: 100%; 
            display: flex;
            justify-content: flex-start; 
            box-sizing: border-box; 

            Button {
                max-width: unset;
                width: 100%;
                
            }
        }

        .flex.items-center {
            position: relative;
            
            .cds--form-requirement {
                position: absolute;
                bottom: -20px;
                left: 0;
                font-size: 0.75rem;
            }
        }
    }

    .divider {
        height: 1px;
        max-width: 448px;
        margin-top: 24px;
        color: colors.$gray-50;
    }

    .register {
        max-width: 448px;
        margin-top: 24px;
        display: flex;
        flex-direction: column;
        color: colors.$gray-100;
        width: 100%;

        >span {
            @include type.type-style('body-compact-01', true);
        }

        .register_button {
            margin-top: 16px;
            max-width: unset;
            width: 100%;
        }
    }
}

.image_column {
    position: fixed;
    right: 0;
    top: 0;
    width: 60%;
    height: 100vh;
    background-image: url('../../assets/hero2.png'); 
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    }